@{
    ViewData["Title"] = "MovieForm";
}

<h1>Enter Movies Here</h1>

<form method="post" action="/Movie/MyPage">
    Action Movie: <input type="text" name="ActionMovie" /> <br />
    Horror Movie: <input type="text" name="HorrorMovie" /> <br />
    Comedy Movie: <input type="text" name="ComedyMovie" />   <br />
    <input type="submit" />
</form>
