@model Movies
@{
    ViewData["Title"] = "Movie Selections";
}


<br />
<br />
<div>

    Action Movie: @Model.ActionMovie <br />
    Horror Movie: @Model.HorrorMovie <br />
    Drama Movie: @Model.ComedyMovie <br />

</div>


